<!DOCTYPE html>
<html>
  <head>
    <title>SpaceclusterX</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />

  </head>
  <body>
    <!--<h1>StarclusterX</h1>
        
    <p>By Peter R. and Mattiwos B.</p>
    -->
   
    <script src="/hub.js"></script>
    <script src="/Oplayer.js"></script>
    <script src="/Player.js"></script>   
    <script src="/planet.js"></script>
    <script src="/star.js"></script>
    <script src="/spaceshipDraw.js"></script>

    <script src="/sketch.js" defer></script>

    
  </body>
</html>

