<!DOCTYPE html>
<html>
  <head>
    

    <link rel="stylesheet" type="text/css" href="stylelogin.css">
    <meta charset="utf-8" />

  </head>
  <body>
    <h1> StarclusterX </h1>
        
    <p>By Peter R. and Mattiwos B.</p>
    

    <div class="loginname">

    <label for="name">Username:</label>
    <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
    <button onclick="myFunction()">START</button>
    <script src="/socket.io/socket.io.js"></script>
    <script> 
    function myFunction() {
      const socket = io(
        {transports: ['websocket']},
        { forceNew: true }
      );
      socket.on('reconnect_attempt', () => {
        socket.io.opts.transports = ['polling', 'websocket'];
      });
      socket.emit('name', document.getElementById("name").value)

      window.location.href = 'game.html';
      
    }
    </script>
    </div>

  </body>
</html>