<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="stylelogin.css">
    <meta charset="utf-8" />

  </head>
  <body>
    <h1> StarclusterX </h1>
        
    <p>By Peter R. and Mattiwos B.</p>
    

    <form class="loginname">

    <label for="name">Username:</label>
    <input class="u-full-width" type="text" id="name" name="name">
    <button type = "button" onclick="runswhenbuttonisclicked()">START</button>

    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script> 
    function runswhenbuttonisclicked() {

      const socket = io(
        {transports: ['websocket']},
        { forceNew: true }
      );
      socket.on('reconnect_attempt', () => {
        socket.io.opts.transports = ['polling', 'websocket'];
      });

      socket.emit('name', {
        name: document.getElementById("name").value.toString()
      });
      
      window.location.href = 'game.html';
      
    }
    </script>
    

  </body>
</html>