<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="stylelogin.css">
    <meta charset="utf-8" />

  </head>
  <body>
    <h1> Spacecluster X </h1>
    
    <p>By Peter R. and Mattiwos B.</p>
    <p style = "text-align: center;
    color: aqua;" >V1.0.2</p>
    
    <style>
      body {
        background-image: url('/space.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      </style>
    

    <form class="loginname">

    <label for="name">Username:</label>
    <input class="u-full-width" type="text" id="name" minlength="1" maxlength="9" name="name">
    <button id="startgame" type = "button" onclick="runswhenbuttonisclicked()">START</button>

    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script> 
    document.getElementById("name").value = getPrevUsername();
    function runswhenbuttonisclicked() {

      name = document.getElementById("name").value.toString()
      document.cookie = `username=${name}`;

      window.location.href = `game.html`;
      
    }
    function getPrevUsername(){
      if (getCookie('username') != undefined)
      return getCookie('username')
      else
      return ""
    }
    
    function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

    </script>
    <script>
      var input = document.getElementById("name");
      input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
         event.preventDefault();
         document.getElementById("startgame").click();
         runswhenbuttonisclicked()
        }
      });
      </script>
    

  </body>
</html>