h1{
    text-align: center;
    

}
p{
    text-align: center;
}
.loginname {
    height: 100;
    text-align: center;
    
}
.loginname input {
    width: 20%;
    text-align: center;
    font-size: medium;

}

.loginname Button{ 
    text-align-last: center;

}
.loginname Button:hover{ 

    font: white;
    background: black;
    color: aqua;
    
    
}

