h1{
    text-align: center;
    

}
p{
    text-align: center;
}
.loginname {
    height: 100vw;
    text-align: center;
}

.loginname Button{ 
    text-align-last: center;
}
.loginname Button:hover{ 

    font: white;
    
    font-size: -webkit-xxx-large;
    
}
.loginname label{
}
.loginname input{
}
