h1{
    text-align: center;
    color: white;
    

}
p{
    text-align: center;
    color: white;
}
.loginname {
    height: 100;
    text-align: center;
    color: white;
    
}
.loginname input {
    width: 15%;
    text-align: center;
   
    background: transparent;
    color: aqua;

}

.loginname Button{ 
    text-align-last: center;
    font: white;
    background: black;
    color: aqua;

}
.loginname Button:hover{ 

    text-align-last: center;
    background-color: Transparent;
}

